html {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

.app {
  font-family: sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgb(240, 71, 71);
  padding: 10px;
  height: 70px;
  color: white;
}

.main-data {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  text-align: center;
}

.details-section {
  width: 100%;
  background-color: rgb(27, 27, 27);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  /* text-align: center; */
}

.pic {
  display: flex;
  width: 30%;
  height: 60vh;
  border-radius: 50%;
  overflow: hidden;
}

.technologies {
  display: flex;
  text-align: start;
}

.technologies ul {
  margin-right: 10px;
}

.technologies li {
  margin-bottom: 12px;
}

ul {
  padding-left: 15px;
}
